.results-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .results-container {
    flex-direction: column;
  }
}

.results-container .movie {
  display: flex;
  max-width: 50%;
  box-sizing: border-box;
  margin: 25px 0px;
  padding: 25px;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .results-container .movie {
    max-width: 100%;
    margin: 10px 0px;
    padding: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .results-container .movie .poster-image img {
    max-width: 150px;
  }
}

.results-container .movie .poster-image .image-not-available {
  width: 199px;
  height: 299px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .results-container .movie .poster-image .image-not-available {
    width: 150px;
    height: 225px;
  }
}

.results-container .movie .poster-image .image-not-available .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #848484;
}

.results-container .movie:hover {
  background: #f8f8f8;
  cursor: pointer;
}

.results-container .movie .right {
  padding: 0 20px;
}

.results-container .movie .title {
  font-size: 24px;
}

.results-container .movie .ratings {
  margin: 10px 0;
}

.results-container .movie .description {
  color: #707070;
  font-size: 14px;
}