.results-for-search {
  padding: 0 25px;
  margin: 10px 0;
}

.loading-container {
  min-height: 500px;
  padding: 50px;
  text-align: center;
  font-size: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
.pagination-container .arrow, .pagination-container .current-page {
  margin: 15px;
}

